{{#each rushing}}
<div class="col-md-4">
    <div class="card">
        <div class="card-header">
            {{@index}}
        </div>
        <div class="card-body">
            <p>player: {{player}}</p>
            <p>team: {{team}}</p>
            <p>pos: {{pos}}</p>
            <p>attg: {{attg}}</p>
            <p>att: {{att}}</p>
            <p>yds: {{yds}}</p>
            <p>avg: {{avg}}</p>
            <p>ydsg: {{ydsg}}</p>
            <p>td: {{td}}</p>
            <p>lng: {{lng}}</p>
            <p>first: {{first}}</p>
            <p>firstpercentage: {{firstpercentage}}</p>
            <p>twenty: {{twenty}}</p>
            <p>fourty: {{fourty}}</p>
            <p>fum: {{fum}}</p>
        </div>
    </div>
</div>
{{/each}}
<a class="btn btn-primary btn-lg" href="rushingExportCsv" role="button">Export CSV</a>